<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
  <h1 class="roomListingTitle">Our Rooms</h1>  
   {{!-- <div id="rooms">
               
                
    </div> --}}
  <div id="rooms">  
{{#each rooms}}
    
<article class="room">
        <img src="http://localhost:3000/{{this.image}}" alt="" id="roomImage"> 
        <p id="roomTitle">{{this.name}}</p>
        <p id="roomDescription">{{this.guests}} guests - {{this.bedroom}} bedroom - {{this.number_of_beds}} bed - {{this.bathroom}} bathroom - {{this.kitchen}} - {{this.wifi}} - {{this.parking}}</p>
        <p id="roomPrice">Price:<strong>{{this.price}}</strong> per night</p></strong>
    
</article>

{{/each}}
</div>
{{!-- <article class="room">
        <img src="${room.image}" alt="" id="roomImage"> 
        <p id="roomTitle">${room.name}</p>
        <p id="roomDescription">${room.guests} guests - ${room.bedroom} bedroom - ${room.number_of_beds} bed - ${room.bathroom} bathroom - ${room.kitchen} - ${room.wifi} - ${room.parking}</p>
        <p id="roomPrice">Price:<strong>$${room.price}</strong> per night</p></strong> 
        
        </article> --}}





</body>
</html>

