<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
  <h1 class="roomListingTitle">Our Rooms</h1>  
    <form method="POST" action="/room-listing/search" class="searchForm">
        <label>Search By</label>
        <select name="room_search">
                <option value="all">All</option>
                <option value="toronto">Toronto</option>
                <option value="brampton">Brampton</option>
                <option value="lakeshore">Lakeshore</option>
                <option value="vaughn">Vaughn</option>
                
        </select>
        <input type="submit" value="Search">
     </form>
  <div id="rooms">  
{{#each data}}
    
<article class="room">
        <img src="/uploads/{{this.roomimage}}" alt="" id="roomImage"> 
        <p id="roomTitle">{{this.title}}</p>
        <p id="roomDescription">{{this.description}} </p>
        <p id="roomPrice">Price:<strong>{{this.price}}</strong> per night</p></strong>
        <p id="roomLocation">Location:{{this.location}}</p>
        <a href="/room-listing/add/{{this.id}}" class="update">Book Room</a>
        
    
</article>

{{/each}}
</div>
{{!-- <article class="room">
        <img src="${room.image}" alt="" id="roomImage"> 
        <p id="roomTitle">${room.name}</p>
        <p id="roomDescription">${room.guests} guests - ${room.bedroom} bedroom - ${room.number_of_beds} bed - ${room.bathroom} bathroom - ${room.kitchen} - ${room.wifi} - ${room.parking}</p>
        <p id="roomPrice">Price:<strong>$${room.price}</strong> per night</p></strong> 
        
        </article> --}}





</body>
</html>

